<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nusantara Food</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <a id="skip-content" href="#mainContent">Skip to Content</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Nusantara Food</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">halaman utama</a></li>
          <li><a href="#/favorite">favorite</a></li>
        </ul>
      </nav>
    </header>
    <main id="mainContent" tabindex="0">
      <div class="hero">
        <img src="./images/heros/hero-image_4.jpg" width="450" alt="" />
      </div>
    </main>
    <footer>
      <p>&copy; 2023 - Nusantara Food <a href="https://restaurant-api.dicoding.dev/#/" target="_blank" rel="noreferrer">DICODING resto</a></p>
    </footer>
  </body>
</html>
