* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
  AppBar
*/

.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: #db0000;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

/*
  Main Content
*/

/* ... CSS yang sudah ada ... */

/* Main Content styles */
main {
  padding: 32px;
  flex: 1;
}

/* ... CSS yang sudah ada ... */

/*
  Footer
*/

footer {
  padding: 16px;
}

footer p {
  text-align: center;
  color: #aaaaaa;
}

footer p a {
  color: #db0000;
  text-decoration: none;
}
/* Hero (Jumbotron) styles */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  overflow: hidden;
  position: relative;
}

/* Styling for images in the hero section */
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Skip to Content styles */
#skip-content {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  min-width: 44px;
  min-height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#skip-content:focus,
#skip-content:active {
  opacity: 1;
  top: 0;
}
.restaurants-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  margin-top: 24px;
}

.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant-item__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.restaurant-item__info {
  padding: 16px;
}

.restaurant-item__name {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.restaurant-item__city,
.restaurant-item__rating {
  margin-bottom: 5px;
}
